---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Experience the thrill of the Hunger Games through our advanced simulator. Create custom tributes, simulate battles, and witness epic survival stories unfold.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Orbitron:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{title} | HGgames</title>

    <!-- 添加结构化数据 -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "HGgames",
        "url": "https://hggames.org",
        "sameAs": [
          "https://x.com/liarpzu"
        ]
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SiteNavigationElement",
        "name": [
          "Start Hunger Games Simulator",
          "Update Log"
        ],
        "url": [
          "https://hggames.org/simulator",
          "https://hggames.org/hunger-games-simulator-changelog"
        ]
      }
    </script>
  </head>
  <body class="bg-secondary text-white min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    <div style="display: none;">
      <!-- add google tag code here -->
      <!-- Google tag (gtag.js) -->
      <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-QNEG8P29EY"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-QNEG8P29EY");
      </script>
    </div>
  </body>
</html>

<style is:global>
  :root {
    --accent: 255, 77, 77;
    --accent-light: 255, 128, 128;
    --accent-dark: 204, 61, 61;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", system-ui, sans-serif;
    background: #1a1a1a;
  }
</style>
